<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseAPIURL</key>
	<string>https://support.corp.example.com/apirest.php</string>
	<key>authToken</key>
	<string>tokenFromUserAccount</string>
	<key>appToken</key>
	<string>TokenFromAppAPI</string>
</dict>
</plist>
